.txt{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}
#textField{
    display: flex;
    width: 45%;
    height: 70vh;
    border-color: white;
    background-color: rgb(22, 22, 22);
    color: white;
    font-size: 22px;
    float: right;
    resize: none;
}
#textInput{
    font-size: 22px;
    border-color: rgb(27, 27, 27);
    display: flex;
    width: 45%;
    height: 70vh;
    display: block;
    box-sizing: border-box;
    resize: none;
    float: left;
}